.project-12 {
  margin: 80px auto;
  border: 2px solid;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-12 form {
  width: 50%;
  height: 30px;
  display: flex;
  align-items: center;
}
.project-12 form input {
  width: 90%;
  border: 1px solid;
  height: 100%;
  font-size: 16px;
  padding-left: 15px;
  border-radius: 5px;
  overflow: hidden;
}
.project-12 form button {
  background-color: rgb(2, 129, 129);
  color: white;
  height: 130%;
  padding: 0 18px;
  font-size: 17px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}
