.project-12 {
  margin: 80px auto;
  width: 50vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-12 form {
  width: 70%;
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.project-12 form input {
  width: 90%;
  border: 1px solid;
  height: 100%;
  font-size: 16px;
  padding-left: 15px;
  border-radius: 5px;
}
.project-12 form button {
  background-color: rgb(2, 129, 129);
  color: white;
  height: 130%;
  padding: 0 18px;
  font-size: 17px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.project-12 .content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
}

.project-12 .content-container .info {
  display: flex;
}
.project-12 .content-container .info a {
  margin-right: 10px;
}

.project-12 .content-container > p {
  margin: 10px;
}

.project-12 .content-container img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
