@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
#root {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  border: none;
}
.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  width: 600px;
  height: 340px;
  background-color: rgba(255, 255, 255, 0.555);
  box-shadow: 0 0 8px 2px #00f1a960;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  border-radius: 20px;
}
.container form {
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: 36px;
}
.container form input {
  width: 80%;
  border-radius: 6px;
  padding-left: 10px;
}
.container form input:focus {
  outline: none;
}
.container form button {
  color: white;
  background-color: black;
  width: 15%;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
.container h2 {
  margin: 20px;
}
.container .date {
  font-style: italic;
  color: black;
  font-size: 15px;
  margin-bottom: 10px;
}
.container h1 {
  font-size: 55px;
}
.container .weather-info {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
.container .loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .loading .circle {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-top-color: steelblue;
  border-radius: 50%;
  animation: load 1s ease-in-out infinite;
}

.container .no-info {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: red;
}

@keyframes load {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
