@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
#root {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  border: none;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 600px;
  height: 340px;
  background-color: #00f1aa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  border-radius: 20px;
}
.container form {
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: 36px;
}
.container form input {
  width: 80%;
  border-radius: 6px;
  padding-left: 10px;
}
.container form button {
  color: white;
  background-color: black;
  width: 15%;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
