@import "tailwindcss";

@theme {
  --color-my-orange: #f06140;
  --color-my-blue: #2a2453;
  --color-my-pink: #fff0ea;
  --color-box-gray: #fafafa;
  --color-my-dark: #1e1d26;
  --color-my-orange-hover: #ec7d64;
  --color-my-black: rgba(0, 0, 0, 0.377);
}
