@import "tailwindcss";
@font-face {
  font-family: "Outfit";
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
  font-weight: 400;
  font-style: normal;
}
@theme {
  --font-outfit: "Outfit", sans-serif;
  --color-my-dark-gray: #4b5057;
  --color-my-light-gray: #cacccd;
}
