.receipt {
  width: 20%;
  text-align: center;
  height: calc(100vh - 70px);
  position: fixed;
  right: 0;
  top: 70px;
  border: 2px dashed steelblue;
  padding: 50px 10px;
}
.receipt div {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 15px;
}
.receipt div p:last-child {
  font-weight: bold;
}
.receipt .total-cost {
  position: absolute;
  bottom: 20px;
  right: 0;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 950px) {
  .receipt {
    width: 40%;
  }
}
