@import "tailwindcss";

@font-face {
  font-family: "Outfit";
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
  font-weight: 400;
  font-style: normal;
}
@theme {
  --font-outfit: "Outfit", sans-serif;
  --color-gradient-first: #00bdcc;
  --color-gradient-second: #00e46a;
  --color-my-light-gray: #fafafa;
  --color-my-blue: #30284d;
  --color-my-blue-background: #31294e;
  --color-my-gray: #f3f5f7;
  --color-my-black: rgba(0, 0, 0, 0.377);
}
@layer components {
  .request {
    @apply py-3 px-7 rounded-4xl text-white bg-linear-[45deg] from-gradient-first to-gradient-second cursor-pointer;
  }
}
