@import "tailwindcss";

@font-face {
  font-family: "Outfit";
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
  font-weight: 400;
  font-style: normal;
}
@theme {
  --font-outfit: "Outfit", sans-serif;
  --color-gradient-first: #00bdcc;
  --color-gradient-second: #00e46a;
}
