@import "tailwindcss";
@theme {
  --color-secondary: #f97316;
  --animate-loadInfinite: loadInfinite 1s ease-in-out infinite;
}

@keyframes loadInfinite {
  0% {
    margin: 0;
  }
  50% {
    margin: 0 10rem;
  }
  100% {
    margin: 0;
  }
}
