@import "tailwindcss";
@theme {
  --animate-loadInfinite: loadInfinite 1s ease-in-out infinite;
}
:root {
  --primary-background: rgb(255, 209, 255);
  --box-1: rgb(212, 233, 91);
  --box-2: rgb(247, 132, 132);
}
@keyframes loadInfinite {
  0% {
    margin: 0;
  }
  50% {
    margin: 0 10rem;
  }
  100% {
    margin: 0;
  }
}
.dark {
  --primary-background: rgb(26, 31, 54);
  --box-1: rgb(212, 233, 91);
  --box-2: rgb(247, 132, 132);
}
