.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

select {
  padding: 10px;
  font-size: 16px;
}

.fruit-card {
  margin-top: 20px;
  border: 2px solid #ccc;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
  text-align: left;
}
