.recipe-page {
  display: flex;
  padding: 0 5vw;
  height: 100vh;
  align-items: center;
}
.recipe-page .image-container {
  width: 45%;
}
.recipe-page .image-container img {
  width: 100%;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 5%;
}
.recipe-page .info-container button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  margin: 10px 0;
  border-radius: 5px;
}
.recipe-page .info-container {
  width: 46%;
  margin-left: 4%;
}
